@import "tailwindcss";


:root {
  --background: #0F0F0F;
  --special: #BC281C;
}

@theme inline {
  --color-background: var(--background);
  --font-poppins: var(--font-poppins);
  --font-protest-strike: var(--font-protest-strike);
}

body{
  background: var(--background);
  font-family: var(--font-poppins);
}


.--Strike{
  font-family: var(--font-protest-strike);
}

.--Special{
  color: var(--special);
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 0.7s cubic-bezier(0.4, 0, 0.2, 1) both;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}


